@import "../../sass/variables";

.thread-wrapper {
  width: 100%;
  display: flex;
  padding-bottom: 2em;

  a {
    text-decoration: none;
    color: inherit;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-wrapper {
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      overflow: hidden;

      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
      }
    }

    .line {
      width: 2px;
      height: 100%;
      background: $dark-gray-color;
      margin-top: 0.5rem;
    }
  }

  .thread-container {
    width: 100%;
    padding-left: 0.5em;
    border-bottom: 1px solid $dark-gray-color;

    .thread-header-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;

      .thread-action-options {
        display: flex;
        align-items: flex-start;

        p {
          margin: 0;
          padding-right: 1em;
        }
      }
    }

    .thread-body {
      white-space: pre-wrap;
      .imported-thread-image {
        border-radius: 1em;
        box-sizing: border-box;
        object-fit: cover;
        border: 1px solid rgba(49, 49, 50, 1);
        max-width: 100%;
        width: 100%;
      }
    }

    .interaction-options {
      display: flex;
      gap: 10px;
      .icon {
        cursor: pointer;

        &.heart-icon {
          &.liked {
            fill: white;
          }
        }
      }
    }

    .interaction-status {
      display: flex;
      gap: 5px;
      color: $dark-gray-color;
    }
  }
}
